.profile-button-container {
    display: flex;
    flex-direction: column;
}

.openmodal-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    /* Light grey background, change as you prefer */
    border: 1px solid white;
    /* Light grey border */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Soft box shadow */
    margin-top: 10px;
    /* Space from other elements */



}

.openmodal-buttons button {
    margin-bottom: 10px;

}

.loggedin-dropdown-container ul {
    display: flex;
    flex-direction: column;
}

.dropdown-container ul {
    padding-left: 0;
}