/* .all-product-tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 350px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;

}

.all-product-tiles-ul {
    padding: 0px;
}

.product-tile-image-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.product-tile-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.text-price {
    font-size: 1rem;
}

.edit-delete-button-container {
    display: flex;
    flex: 1fr 1fr;
    justify-content: center;
    width: 100%;

    margin: 5px;
    height: 40px;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    margin: 0px 5px;
    box-sizing: border-box;
    width: 40%;
}

.edit-button {
    background-color: #3fa27a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #76DAB9;
    }
}

.delete-button {
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #cc7000;
    }
} */

.product-tile-image-container img {
    max-height: 300px;
    height: 300px;
}

.map-all-products ul {
    padding: 5px;
}

.product-tile-image-container {
    display: flex;
    justify-content: center;
}

.text-name {
    font-weight: bold;
}

.all-product-tiles:hover {
    cursor: pointer;
}

.edit-button {
    margin-right: 5px;
    padding: 10px 28px;
}

.edit-delete-button-container {
    display: flex;
    justify-content: center;
}