.yourModalClassName {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 40px;
    width: 80%;
    max-width: 800px;
}

h2 {
    margin-bottom: 20px;
}

.errors {
    color: red;
    margin: 10px 0;
}

.reviewTextArea {
    margin: 20px 0;
}

.review-text-input {
    width: 90%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    /* margin-bottom: 20px; */
}

.review-stars {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: orange;
    color: black;
    transition: background-color 0.3s;


}

.reviewIndexItemContainer {
    border-bottom: 1px solid #d3d3d3;

}

.reviewIndexItemContainer {
    padding: 10px;
}

.reviewIndexItem-name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.cat-head {
    width: 28px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;

}

.create-modal-container {
    width: 500px;
    margin: 25px;
}